body {
    font-family: 'Alice', cursive;
    background-color: #ffe5e5;
    background-image: url('../images/136.jpg');
}

h1 {
    font-family: 'Salsa', cursive;
    color: #eb0c69;
}

table.cuadro {
    background-color: #ffcccc;
}

h2 {
    color: #eb0c83;
}

h3 {
    color: #e6679c;
}

h4 {
    color: #f2359d;
}

ol li {
    color: #9c0b56;
}

ul li {
    color: green;
}

ul li {
    color: #783da8;
}

th {
    color: #eb0c69;
}

p {
    color: #3b0691;
    word-spacing: 1px;
    line-height: 15px;
    font-size: 12px
}

section.newsletter {
    background-color: #ffccee;
}

footer {
    background: linear-gradient(to bottom,#fbe8fd, #ff0099);
    text-align: center;

}
 
/* ************************** */
nav ul {
    list-style: none;

} 

/* propiedad del li adentro del ul */
nav ul li {
    display: inline-block;
    position: relative; 
    
 
}

/* Este es un comentario en CSS */
nav ul li a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

/* Este es un comentario en CSS */
nav ul ul {
    position: absolute;
    display: none;
}

/*  propiedad del li adentro del sub ul */
nav ul ul li {
    display: block;
    font-size: 14px;
    padding: 5px;
    z-index: 1;
    background-color: #ff80bd;
    width: 200px;

    }

/* Este es un comentario en CSS */
nav ul li:hover ul {
    display: block;
   
  }

nav ul ul li:hover {
    display: block;
    text-decoration: underline;
    }


 

section.seccion1 {
    display: flex;
    background-color: #ffcccc;
}

section.seccion2 {
    background-color: #ffcccc;
}

section.seccion3 {
    display: flex
}


.padre{
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;

 }

.hijoIzq{
    padding-right: 150px;
    padding-left: 10px;
    text-align: left;
 }

 .hijoCentrado{
    padding: 15px;
    text-align: center;
}

.hijoDer{

    padding:10px;
    text-align: right;
}

.madre{
    display: flex;  
    flex-direction: row-reverse;
   justify-content: space-between;  
 }


.padreColumn{
    display: flex;
    justify-content: space-around;
}