body {
    font-family: 'Alice', cursive;
    background-color: #ffe5e5;
    background-image: url('../images/136.jpg');
}
 
h1 {
    font-family: 'Salsa', cursive;
    color: #eb0c69;
}

h2 {
    font-family: 'Salsa', cursive;
    color: #eb0c83;
}

h3 {
    font-family: 'Salsa', cursive;
    color: #e6679c;
}

h4 {
    font-family: 'Salsa', cursive;
    color: #f2359d;
}

  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
ol li {
    color: #9c0b56;
}

ul li {
    color: #783da8;
}

p {
    color: #3b0691;
    word-spacing: 1px;
    line-height: 15px;
    font-size: 16px;
}

nav {
    background-color: #e8b0e8;
    
}
     
 footer { 
        background: linear-gradient(to bottom,#fbe8fd, #ff80bd);
          text-align: center;
     } 
 
 section#seccion1 {
    background-color: #ffcccc;  
    padding: 10px;
}
 section#seccion2 {
    background-color: #e8b0e8;    
    padding: 10px;
 }
 
 section#seccion3 {
    background-color: #ffcccc;    
    padding: 10px;
 }
 
section#newsletter { 
        background-color: #ffccee; 
        background-image: url('../images/136.jpg');
     }
     
