$color-base:#ffe5e5;
$font-color1: #eb0c69;
$font-color2: #eb0c83;
$font-color3: #e6679c;
$font-color4: #f2359d;
$font-color5:#8429ce;
$font-color6:#d482d4;
$font-color7:#ff80bd;
$font-color8:#fbe8fd;
$font-color9: #a80ba0;
$font-color6-light:#f1c2f1;
