/* importaciones */
@import "variables";
@import "colores";
@import "tipografia";


/* SCSS*/
html {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
body{
    font-family: $alice,sans-serif;
    background-image:$wallpaper;
}
 
 
.nav__wallpaper{
    background-color: $font-color6;
    }

.nav__search-button{
    color: $font-color9;
    &:hover{
        color: $font-color5;
        transform: scale(1.05);
        background-color: $font-color4;
    }
}

.nav__a{
    &:hover{
        color: $font-color5;
         background-color: $font-color6-light;
    }
}
 
 .card__footer{
    background: linear-gradient(to bottom,$font-color2,$font-color7);
    text-align: center;
    color:$font-color5;

 }   

 .card__button{ 
    background-color: $font-color2;
    &:hover{
        color: $font-color5;
        transform: scale(1.05);
        background-color: $font-color6;
    }

 }

h1,h2,h3,h4,h5,h6  { 	 
        font-family: $salsa;
        padding-left: 15px;
 }

h1{
        color:$font-color1;
    }
    
h2 {         
        color:$font-color2;
    }
    
h3 {
        color:$font-color3;
    }
    
h4 {
        color:$font-color4;
    }    
 
h5 {
    color:$font-color5;
} 

.section__newsletter {  
    background-image: $wallpaper; 
}

p{
    color: $font-color9;
}
 
.footer__primary { 
       text-align: center;
       background: linear-gradient(to bottom,$font-color8,$font-color6);
       color:$font-color5;
 }
 
 .footer__secondary { 
    text-align: center;
    background: linear-gradient(to bottom,$font-color8,$font-color7);
    color:$font-color5;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  



.scroll {
    color: #fff;
    margin-top: 100px
}

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    background-color: hsla(5, 76%, 62%, .8)
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: hsla(5, 76%, 62%, .8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}

.height {
    height: 3000px
}

 
//CodePen - Pure CSS Scroll To Top by rolandtoth
@mixin setScrolltopColors($bgColor: red, $arrowColor: white, $bgColorHover: $bgColor, $arrowColorHover: $arrowColor) {
    #scrolltop-bg {
      fill: $bgColor;
    }
    #scrolltop-arrow {
      fill: $arrowColor;
    }
    a:hover {
      #scrolltop-bg {
        fill: $bgColorHover;
      }
      #scrolltop-arrow {
        fill: $arrowColorHover;
      }
    }
  }
  
  .scrolltop-wrap {
    $size: 3rem;
    $offsetBottom: 2rem;
    $offsetHorizontal: 2rem;
    $scrollToRevealDistance: 12rem; // scroll offset to reveal scroll-to-top link
    $color: #a80bbd;
    box-sizing: border-box;
    position: absolute;
    top: $scrollToRevealDistance;
    right: $offsetHorizontal;
    bottom: 0;
    pointer-events: none;
    backface-visibility: hidden;
    @include setScrolltopColors($color, white, lighten($color, 8%));
    // prevent extra page height if content is smaller than viewport
    // Firefox only
    @supports (-moz-appearance: meterbar) {
      clip: rect(0, $size, auto, 0);
    }
    a {
      $offset: - ($size + $offsetBottom); // pull up + add a small bottom space
      position: fixed; // fallback
      position: sticky;
      top: $offset;
      width: $size;
      height: $size;
      margin-bottom: $offset;
      transform: translateY(100vh); // push to bottom from top (when stuck)
      backface-visibility: hidden;
      display: inline-block;
      text-decoration: none;
      user-select: none;
      pointer-events: all;
      outline: none;
      overflow: hidden;
      svg {
        display: block;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        path {
          transition: all 0.1s;
        }
      }
      #scrolltop-arrow {
        transform: scale(0.66);
        transform-origin: center;
      }
    }
    @media print {
      display: none !important;
    }
  }
  //end - CodePen - Pure CSS Scroll To Top by rolandtoth

 //https://codepen.io/scanfcode/pen/MEZPNd
 
 .site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
